@import '../colors'
@import '../fonts'

.landing
  & .login
    width: 100%
    height: 100vh
    background-color: #c4c4c4
    display: flex
    justify-content: center
    align-items: flex-start
    & .frame
      width: 50%
      height: 100%
      background: $blue
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      &_form
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &-field
          & p
            width: 70%
          outline: none
          border-radius: 25px
          border: 2px solid $dark
          background-color: $gray
          font-size: 48px
          padding: 5px
          margin: 10px auto
          @include regular
          color: $dark
          text-align: center
          &::placeholder
            font-size: 48px
            @include regular
            color: $dark
        &-btn
          color: $dark
          font-size: 36px
          @include regular
          background: $gray
          border-radius: 25px
          border: none
          width: 30%
          padding: 5px
          text-align: center
          margin-top: 5px
          &:hover
            cursor: pointer
            text-decoration: underline
      & a
        color: #c4c4c4
        font-size: 18px
        @include regular
        text-decoration: none
        margin-top: 5px
      &_registration
        margin-top: 20px
        & span
          color: $gray
          font-size: 24px
          @include regular
        & a
          color: $green
          font-size: 24px
          @include regular
          text-transform: none
    & .helper
      -webkit-transform: translateY(60%)
      -moz-transform: translateY(60%)
      -ms-transform: translateY(60%)
      -o-transform: translateY(60%)
      transform: translateY(60%)
      &_text
        margin-left: 20%
        & span
          &:nth-child(1)
            font-size: 96px
            color: $dark
            @include light
          &:nth-last-child(1)
            font-size: 160px
            color: $white
            @include medium
      &_img
        -webkit-transform: translate(10%, -50%)
        -moz-transform: translate(10%, -50%)
        -ms-transform: translate(10%, -50%)
        -o-transform: translate(10%, -50%)
        transform: translate(10%, -50%)
        & img
          width: 30%
          -webkit-transform: rotateZ(-25deg)
          -moz-transform: rotateZ(-25deg)
          -ms-transform: rotateZ(-25deg)
          -o-transform: rotateZ(-25deg)
          transform: rotateZ(-25deg)

  & .hero
    width: 100%
    background-color: #c4c4c4
    height: 100vh

    &_auth
      display: flex
      justify-content: flex-end
      align-items: center

      &-btn
        border: 1px solid $dark
        outline: none
        margin: 30px
        padding: 20px 40px
        border-radius: 20px
        font-size: 48px
        box-shadow: 2px 4px 4px 0 #00000040
        color: $dark
        @include medium
        -webkit-transition: 0.3s
        -moz-transition: 0.3s
        -ms-transition: 0.3s
        -o-transition: 0.3s
        transition: 0.3s

        &:hover
          -webkit-transform: scale(1.2)
          -moz-transform: scale(1.2)
          -ms-transform: scale(1.2)
          -o-transform: scale(1.2)
          transform: scale(1.2)


    &_body
      display: flex
      justify-content: center
      align-items: flex-end

      &_title
        max-width: 700px
        margin-bottom: 100px
        -webkit-transform: translate(-100%, -25%)
        -moz-transform: translate(-100%, -25%)
        -ms-transform: translate(-100%, -25%)
        -o-transform: translate(-100%, -25%)
        transform: translate(-100%, -25%)

        & span
          text-align: left

          &:nth-child(1)
            color: $dark
            font-size: 96px
            font-weight: 400
            @include light

          &:nth-last-child(1)
            color: $white
            font-size: 160px

      &_image
        -webkit-transform: rotateZ(-9deg) translateX(67%)
        -moz-transform: rotateZ(-9deg) translateX(67%)
        -ms-transform: rotateZ(-9deg) translateX(67%)
        -o-transform: rotateZ(-9deg) translateX(67%)
        transform: rotateZ(-9deg) translateX(67%)

        &-img
          -webkit-transition: 1.5s linear
          -moz-transition: 1.5s linear
          -ms-transition: 1.5s linear
          -o-transition: 1.5s linear
          transition: 1.5s linear

        &:hover .hero_body_image-img
          -webkit-transform: rotateY(360deg) rotateZ(60deg) rotateX(180deg)
          -moz-transform: rotateY(360deg) rotateZ(60deg) rotateX(180deg)
          -ms-transform: rotateY(360deg) rotateZ(60deg) rotateX(180deg)
          -o-transform: rotateY(360deg) rotateZ(60deg) rotateX(180deg)
          transform: rotateY(360deg) rotateZ(60deg) rotateX(180deg)

  & .body
    &_title
      display: flex
      justify-content: space-between
      align-items: flex-start
      position: relative
      margin: 130px 50px

      &_img
        &-img

      &_desc
        max-width: 900px
        text-align: center

        & span
          color: $dark

          &:nth-child(1)
            font-size: 70px

          &:nth-last-child(1)
            font-size: 64px

      &-title
        @include medium
        font-size: 440px
        color: $gray
        position: absolute
        padding-top: 250px

    &_helper
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 300px

      &_title
        @include medium
        font-size: 48px
        color: $dark
        text-decoration: underline
        margin-bottom: 80px