{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/new_password.css' %}">
{% endblock %}

{% block title %} - New password {% endblock %}
{% block content %}
    <div class="reset">
        <div class="help">
            <div class="help_info">{{ username }} Hello!</div>
            <div class="help_info">
                <div class="help_info-title">Please, enter a new password that corresponds the 4 rule</div>
                <div class="help_info_body">
                    <div class="help_info_body-data">
                        password must contain at least
                        <span>one uppercase and lowercase letter</span>
                    </div>
                    <div class="help_info_body-data">
                        password must contain at least
                        <span>one number</span>
                    </div>
                    <div class="help_info_body-data">
                        password must contain at least
                        <span>one punctuation mark</span>
                    </div>
                    <div class="help_info_body-data">
                        password length must be at least
                        <span>8 characters</span>
                    </div>
                </div>
            </div>
        </div>
        <form action="." method="post" class="reset_form">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Change password" class="reset_form-btn">
        </form>
        <img src="{% static 'img/account/anthill.png' %}" alt="" class="reset_logo">
    </div>
{% endblock %}