{% extends "account/login.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/login.css' %}">
    <script>
        window.onload = () => {
            document.querySelectorAll('.frame_3_form-field-error').forEach(item => {
                item.value = ''
            })
        }
    </script>
{% endblock %}

{% block title %} - Sign up{% endblock %}
{% block header %}
    <div class="header_auth">
        <a class="header_auth-btn" href="{% url 'account:user_login' %}">Sign In</a>
    </div>
{% endblock %}
{% block register %}
    <form action="." method="post" class="frame_3_form">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Registration" class="frame_3_form-btn">
    </form>
    <div class="frame_3_registration">
        <span>Already have an account?</span>
        <a href="{% url 'account:user_login' %}?page=1">Log in here!</a>
    </div>
{% endblock %}