{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/account/success_password.css' %}">
{% endblock %}

{% block title %} - Success{% endblock %}
{% block content %}
    <div class="success">
        <img src="{% static 'img/account/circle_ant.png' %}" alt="" class="img">
        <div class="content">Password changed successfully, please <a href="{% url 'account:user_login' %}?page=1">log into</a> your account</div>
    </div>
{% endblock %}