@import "colors"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Roboto, sans-serif
  color: $darkblue

body
  min-height: 100vh
  .content
    background-color: $white
    margin: auto 185px