@import "../colors"
@import "../fonts"


.content
  display: flex
  flex-direction: column
  align-items: center

  .issue
    display: flex
    flex-direction: column
    margin: 1% 380px
    background-color: $green
    border-radius: 20px
    width: 1070px
    color: $white
    font-size: 36px

    &_header
      margin: auto 10%
      padding-top: 5%

      &-title
        display: flex
        @include light

    &_body
      display: flex
      flex-direction: column
      margin-left: 15%
      align-items: flex-start

      &_form
        margin: 30px
        width: 80%

        & p
          display: flex
          justify-content: flex-start
          position: relative
          margin-bottom: 50px

          & select
            background-color: transparent
            outline: none
            border: 2px solid $green
            border-bottom: 2px solid $white
            color: $white
            @include light
            font-size: 36px
            width: 100%

            & option
              color: $dark
              @include light

          & input
            background-color: transparent
            border-bottom: 2px solid $white
            padding: 10px
            color: $white
            @include regular
            font-size: 18px
            width: 100%

            &::placeholder
              color: $white
              @include regular

          & textarea
            background-color: transparent
            border: 2px solid $white
            border-radius: 15px
            padding: 10px
            color: $white
            @include regular
            font-size: 18px

          & label
            color: $white
            @include light
            font-size: 18px
            position: absolute
            bottom: -22px
            right: 0

        &_btns
          display: flex
          justify-content: space-evenly

          &-btn
            background-color: transparent
            border: 2px solid $white
            border-radius: 15px
            padding: 5px 20px
            color: $white
            @include light
            font-size: 30px