@import "../colors"
@import "../fonts"

.no_projects
  background-color: $dark
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  &-btn
    background-color: $gray
    color: $dark
    @include regular
    font-size: 48px
    border-radius: 20px
    border: none
    outline: none
    height: 100px
    width: 550px
    text-transform: uppercase
    margin: 20px
    -webkit-transition: 0.2s
    -moz-transition: 0.2s
    -ms-transition: 0.2s
    -o-transition: 0.2s
    transition: 0.2s
    &:hover
      cursor: pointer
      -webkit-transform: scale(1.1)
      -moz-transform: scale(1.1)
      -ms-transform: scale(1.1)
      -o-transform: scale(1.1)
      transform: scale(1.1)
