{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/board/board.css' %}">
{% endblock %}

{% block title %} - Issues{% endblock %}

{% block content %}
    <div class="board">
        <div class="col">
            <div class="title">to be done</div>
            {% for _ in range %}
                <div class="issue">
                    <div class="issue_title">title</div>
                    <div class="issue_body">data</div>
                    <div class="issue_footer">author</div>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <div class="title">in progress</div>
            {% for _ in range %}
                <div class="issue">
                    <div class="issue_title">title</div>
                    <div class="issue_body">data</div>
                    <div class="issue_footer">author</div>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <div class="title">finished</div>
            {% for _ in range %}
                <div class="issue">
                    <div class="issue_title">title</div>
                    <div class="issue_body">data</div>
                    <div class="issue_footer">author</div>
                </div>
            {% endfor %}
        </div>
    </div>


    <!--<a href="{% url 'issues:index' %}"></a>  change url -->

{% endblock %}