{% extends "project/project_base.html" %}
{% load static %}
{% load custom_tag %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/project/board.css' %}">
{% endblock %}

{% block title %} - Board{% endblock %}

{% block project_content %}
    <div class="board">
        {% if sprint %}
            <div class="board_content">
                <div class="board-title">{{ sprint.name }}</div>
                <div class="board_body">
                    <div class="board_body_col">
                        <div class="board_body_col-title">To be done</div>
                        <div class="board_body_col_cards">
                            {% for ticket in waiting %}
                                <div class="board_body_col_cards_card" onclick="window.location.href='{% url 'project:issue' project.slug ticket.slug %}'">
                                    <div class="board_body_col_cards_card-name">{{ ticket.summary|cut_title }}</div>
                                    <div class="board_body_col_cards_card-date">{{ ticket.ETA }}</div>
                                    <div class="board_body_col_cards_card-link">{{ ticket.slug }}</div>
                                    <div class="board_body_col_cards_card-percents">Percents: {{ ticket.percent }}</div>
                                    <div class="board_body_col_cards_card_creator">
                                        <span>{{ ticket.shortname }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="board_body_col">
                        <div class="board_body_col-title">In Progress</div>
                        <div class="board_body_col_cards">
                            {% for ticket in progress %}
                                <div class="board_body_col_cards_card" onclick="window.location.href='{% url 'project:issue' project.slug ticket.slug %}'">
                                    <div class="board_body_col_cards_card-name">{{ ticket.summary|cut_title }}</div>
                                    <div class="board_body_col_cards_card-date">{{ ticket.ETA }}</div>
                                    <div class="board_body_col_cards_card-link">{{ ticket.slug }}</div>
                                    <div class="board_body_col_cards_card-percents">Percents: {{ ticket.percent }}</div>
                                    <div class="board_body_col_cards_card_creator">
                                        <span>{{ ticket.shortname }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="board_body_col">
                        <div class="board_body_col-title">Finished</div>
                        <div class="board_body_col_cards">
                            {% for ticket in complete %}
                                <div class="board_body_col_cards_card" onclick="window.location.href='{% url 'project:issue' project.slug ticket.slug %}'">
                                    <div class="board_body_col_cards_card-name">{{ ticket.summary|cut_title }}</div>
                                    <div class="board_body_col_cards_card-date">{{ ticket.ETA }}</div>
                                    <div class="board_body_col_cards_card-link">{{ ticket.slug }}</div>
                                    <div class="board_body_col_cards_card-percents">Percents: {{ ticket.percent }}</div>
                                    <div class="board_body_col_cards_card_creator">
                                        <span>{{ ticket.shortname }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="board_body_filter">
                        <span>Sorted</span>
                    </div>
                    <div class="board_body_info">
                        <div class="board_body_info_users">
                            <div class="board_body_info_users-user">DS</div>
                            <div class="board_body_info_users-user">DS</div>
                            <div class="board_body_info_users-user">DS</div>
                            <div class="board_body_info_users-user">DS</div>
                        </div>
                        <button class="board_body_info-btn" onclick="window.location.href='{% url 'project:delete_sprint' project.slug %}'">Complete Sprint</button>
                        <div class="board_body_info-edit" onclick="window.location.href='{% url 'project:edit_sprint' project.slug %}'">EDIT SPRINT</div>
                        <div class="board_body_info-date">{{ sprint.due_date }}</div>
                        <img src="{% static 'img/ant.png' %}" alt="" class="board_body_info-img">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="board_nosprint">
                <h2>No sprints created</h2>
                <p>To create click <a href="{% url 'project:create_sprint' project.slug %}">here</a></p>
            </div>
        {% endif %}

    </div>
{% endblock %}