{% extends "project/project_base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
{% endblock %}

{% block title %} - Creat Sprint{% endblock %}

{% block content %}
    <div class="sprint">
        <div class="sprint_content">
            <div class="sprint_header">
                <div class="sprint_header-title">Sprint Creation</div>
            </div>
            <div class="sprint_body">
                <form class="sprint_body_form" method="post" action=".">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <div class="sprint_body_form_btns">
                        <button class="sprint_body_form_btns-btn"
                                onclick="window.location.href='{% url 'project:board' project.slug %}'">Cancel
                        </button>
                        <input class="sprint_body_form_btns-btn" type="submit" value="Create sprint">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}