{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/project/create_project.css' %}">
{% endblock %}

{% block title %} - Create Project{% endblock %}

{% block content %}
    <div class="project">
        <div class="create_project">
            <div class="create_project_body">
                <div class="create_project_body_title">
                    <div class="create_project_body_title-title">Create Project</div>
                </div>
                <div class="create_project_body_name">
                    <input class="create_project_body_name-input"/>
                    <div class="create_project_body_name-title">Name of the project</div>
                </div>
                <div class="create_project_body_participants">
                    <div class="create_project_body_participants_title">
                        <div class="create_project_body_participants_title-title">Participants</div>
                    </div>
                    <div class="create_project_body_participants_title">
                        <div class="create_project_body_participants_title-title">Participants</div>
                    </div>
                    <div class="create_project_body_participants_title">
                        <div class="create_project_body_participants_title-title">Participants</div>
                    </div>
                    <button class="create_project_body_participants-btn">Add participant</button>
                </div>
            </div>
            <div class="create_project_btns">
                <button class="create_project_btns-btn">Cancel</button>
                <button class="create_project_btns-btn">Next</button>
            </div>
        </div>
    </div>
{% endblock %}