{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/project/project.css' %}">
{% endblock %}

{% block title %} - Projects{% endblock %}
{% block content %}
    <div class="no_projects">
        <form action="." method="post">
            <input class="no_projects-input" placeholder="Enter project link" name="slug"/>
            <div class="no_projects_btns">
                <button class="no_projects_btns-btn" onclick="window.location.href='{% url 'project:projects' %}'">
                    Cancel
                </button>
                <input type="submit" class="no_projects_btns-btn" value="Add project"/>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}