{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        let menu_width = 380

        menu = document.getElementsByClassName('menu')
        document.onmousemove = (event) => {
            if (menu[0].style.opacity === '' && event.pageX < menu_width) {
                menu[0].style.opacity = '1'
                menu[0].style.zIndex = '100'
            } else if (event.pageX > menu_width) {
                menu[0].style.opacity = ''
                menu[0].style.zIndex = '-1'
            }
        }
    </script>
    <nav class="menu">
        <div class="menu-name">{{ user.username }}</div>
        <div class="menu-project">{{ project.name }}</div>
        <div class="menu-item" onclick="window.location.href='{% url 'project:issues' project.slug %}'">All issues</div>
        <div class="menu-item" onclick="window.location.href='{% url 'project:roadmap' project.slug %}'">Roadmap</div>
        <div class="menu-item" onclick="window.location.href='{% url 'project:board' project.slug %}'">Board</div>
        <div class="menu-item" onclick="window.location.href='{% url 'project:log' project.slug %}'">Log work</div>
        <div class="menu-item" onclick="window.location.href='{% url 'project:create' %}'">Create project</div>
        <div class="menu-item" onclick="window.location.href='{% url 'project:create_issue' project.slug %}'">Create issue</div>
    </nav>
    {% block project_content %}{% endblock %}
{% endblock %}